.navbar{
    background-color: #000;
}

.navbar li{
    text-align: right;
}

.nav-link{
    color: #fff;
}

.navbar-brand{
    color: #fff;
}


header.masthead{
    height: 70vh;
    background:no-repeat center center;
    background-attachment:scroll;position:relative;background-size:cover}
    
.site-heading{
    text-align: center;
    padding-top: 40%;
    color: #fff;
}