nav{
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
    font-weight: 400;
}
.nav-link{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    
}

.navbar-brand{
    color: #fff;
    font-family: 'Poppins', sans-serif;
}


header.masthead{
    height: 80vh;
    background:no-repeat center center;
    background-attachment:scroll;position:relative;background-size:cover}
    
.site-heading{
    text-align: center;
    padding-top: 30%;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.site-name{
    font-size: 70px;
    font-weight: 700;
}

.subheading{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

body{
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    color: #000;
}
.portfolio-title{
    text-align: center;
}

footer{
    height:50px;
    text-align: center;
}

a {
    color: #000;
}

.social-links li a i{
    padding: 12px 0;
    font-size: 30px;
    padding-top: 50px;
    color: #000;
}

.footnote{
    text-transform: uppercase;
    font-family: "Poppins",sans-serif;
    color: #000;
    font-size: 14px;
    padding-top: 25px;
}

.card img{
    height: 100%;
    width: 100%;
}